<!doctype html>
<html lang="es-MX">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <title>Bedu Songs</title>
  </head>
  <body>
    <section class="hero is-black">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Mis Canciones</h1>
          <h2 class="subtitle">Disfruta de mis mejores canciones</h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          {% for song in songs %}
          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-image">
                <figure class="image is-square">
                  <img
                    src="{{ song.album.cover.url }}"
                    alt="{{ song.album.name }} Cover"
                  />
                </figure>
              </div>
              <div class="card-content has-text-centered">
                <p class="help">{{ song.album.name }}</p>
                <p class="title has-text-link">{{ song.name }}</p>
                <p class="subtitle is-6">{{ song.artist.name }}</p>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="column is-full">
            <p class="subtitle">Aún no hay canciones 😔</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </body>
</html>
