<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear post</title>
</head>
<body>
    <h1>Crear post</h1>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="title-id">Título:</label>
            <input type="text" name="title" id="title-id" />
        </p>
        <p>
            <label for="content-id">Contenido:</label>
            <textarea name="content" id="content-id" cols="30" rows="10"></textarea>
        </p>
        <button>Enviar</button>
    </form>
</body>
</html>
